<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>List New Item</h3>

<div>
  <form action="/create" method='POST'>
    <label for="fname">Item Name</label>
    <input type="text" id="fname" name="name" placeholder="Item name..">

    <label for="lname">Item Description</label>
    <input  type="text" id="lname" name="description" placeholder="Description..">

    <label for="lname">Total # of Items</label>
    <input type="text" id="lname" name="total" placeholder="Total..">


    <label for="lname">Warehouse ID</label>
    <input type="text" id="lname" name="warehouse_id" placeholder="ID">


    <label for="country">Location</label>
    <select id="country" name="location">
      <option value="Toronto">Toronto</option>
      <option value="Montreal">Montreal</option>
      <option value="Ottawa">Ottawa</option>
      <option value="Vancouver">Vancouver</option>
      <option value="Regina">Regina</option>
      <option value="Edmonton">Edmonton</option>
    </select>
  
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>